
<div class="login_page container">
    <div class="row d-flex justify-content-evenly align-content-start align-content-lg-center min-vh-100">
        <div class="section col-lg-5 d-flex flex-column justify-content-center align-items-center  px-0">
            <div class="title d-flex align-items-center justify-content-center">
                <div class="logo position-relative">
                    <img class="logo1 position-absolute bottom-0 start-0" src="../img/logo_fram.svg" alt="Logo">
                    <img class="logo2 position-absolute top-0 end-0" src="../img/logo.svg" alt="Logo">
                </div>
                <h1>ONLINE TODO LIST</h1>
            </div>
            <div class="image mt-2 d-none d-lg-block position-relative">
                <img class="position-absolute start-50 translate-middle-x" src="../img/main.png" alt="main_pic">
            </div>
        </div>
        
        <%- content %>
        
    </div>
</div>