<div class="main_page pb-7">
    <nav class="navbar bg-secondary">
        <div class="container-fluid px-8 py-4">
            <div class="title d-flex align-items-center justify-content-center">
                <div class="logo position-relative">
                    <img class="logo1 position-absolute bottom-0 start-0" src="../img/logo_fram.svg" alt="Logo">
                    <img class="logo2 position-absolute top-0 end-0" src="../img/logo.svg" alt="Logo">
                </div>
                <h1>ONLINE TODO LIST</h1>
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a href="#" title="待辦事項">
                        <h5 class="px-6 d-none d-sm-block">王小明的待辦</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./login.html" class="accLink" title="登出">
                        <h5 class="fw-normal log-out">登出</h5>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <%- content %>

</div>