@each $color, $value in $theme-colors {
  .link-#{$color} {
    color: $value !important; // stylelint-disable-line declaration-no-important

    @if $value==$info {
      &:hover,
      &:focus {
        color: $primary !important; // stylelint-disable-line declaration-no-important
      }
    }
    @if $value==$primary {
      &:hover,
      &:focus {
          color: $info !important; // stylelint-disable-line declaration-no-important
        }
    }
  }
}
