<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />

    <meta name="description" content="Online Todo List" />
    <meta
      name="keywords"
      content="HexSchool, Online Todo List, Todo List,To do List"
    />

    <meta property="og:title" content="Online Todo List" />
    <meta property="og:description" content="Online Todo List" />
    <meta property="og:url" content="https://ceciliacece.github.io/todoList/" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="../favicon.ico" />

    <title>Online ToDo List</title>
  </head>

  <body></body>
</html>
