<div class="container px-8 mt-6">
    <div class="row justify-content-center">
        <div class="card px-1 col-lg-7">
            <div class="d-flex align-items-center justify-content-between">
                <input type="text" class="form-control w-75" placeholder="新增待辦事項"
                    aria-describedby="plus_button">
                <div class="plus-button btn btn-primary d-flex align-items-center justify-content-center"
                    title="新增按鈕">+
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container px-8">
    <div class="row justify-content-center">
        <div class="card mt-4 col-lg-7  p-0">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs text-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" title="全部">
                            <h6>全部</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="待完成">
                            <h6>待完成</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="已完成">
                            <h6>已完成</h6>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body overflow-auto my-2">
                <ul class="list list-group">
                    <li>
                        <label for="check-0">
                            <div class="list-check">
                                <input type="checkbox" id="check-0">
                                <span></span>
                                <p>把冰箱發霉的檸檬拿去丟掉</p>
                            </div>
                            <div class="list-btn">
                                <button type="button" class="btn-edit" title="編輯"></button>
                                <button type="button" class="btn-close" title="刪除"></button>
                            </div>
                        </label>
                    </li>
                    <li>
                        <label for="check-1">
                            <div class="list-check">
                                <input type="checkbox" id="check-1">
                                <span></span>
                                <p>把冰箱發霉的檸檬拿去丟掉</p>
                            </div>
                            <div class="list-btn">
                                <button type="button" class="btn-edit" title="編輯"></button>
                                <button type="button" class="btn-close" title="刪除"></button>
                            </div>
                        </label>
                    </li>
                    <li>
                        <label for="check-2">
                            <div class="list-check">
                                <input type="checkbox" id="check-2">
                                <span></span>
                                <p>把冰箱發霉的檸檬拿去丟掉</p>
                            </div>
                            <div class="list-btn">
                                <button type="button" class="btn-edit" title="編輯"></button>
                                <button type="button" class="btn-close" title="刪除"></button>
                            </div>
                        </label>
                    </li>
                    <li>
                        <label for="check-3">
                            <div class="list-check">
                                <input type="checkbox" id="check-3">
                                <span></span>
                                <p>把冰箱發霉的檸檬拿去丟掉</p>
                            </div>
                            <div class="list-btn">
                                <button type="button" class="btn-edit" title="編輯"></button>
                                <button type="button" class="btn-close" title="刪除"></button>
                            </div>
                        </label>
                    </li>
                    <li>
                        <label for="check-4">
                            <div class="list-check">
                                <input type="checkbox" id="check-4">
                                <span></span>
                                <p>把冰箱發霉的檸檬拿去丟掉</p>
                            </div>
                            <div class="list-btn">
                                <button type="button" class="btn-edit" title="編輯"></button>
                                <button type="button" class="btn-close" title="刪除"></button>
                            </div>
                        </label>
                    </li>
                    <li>
                        <label for="check-5">
                            <div class="list-check">
                                <input type="checkbox" id="check-5">
                                <span></span>
                                <p>把冰箱發霉的檸檬拿去丟掉</p>
                            </div>
                            <div class="list-btn">
                                <button type="button" class="btn-edit" title="編輯"></button>
                                <button type="button" class="btn-close" title="刪除"></button>
                            </div>
                        </label>
                    </li>
                    <li>
                        <label for="check-6">
                            <div class="list-check">
                                <input type="checkbox" id="check-6">
                                <span></span>
                                <p>把冰箱發霉的檸檬拿去丟掉</p>
                            </div>
                            <div class="list-btn">
                                <button type="button" class="btn-edit" title="編輯"></button>
                                <button type="button" class="btn-close" title="刪除"></button>
                            </div>
                        </label>
                    </li>
                    <li>
                        <label for="check-7">
                            <div class="list-check">
                                <input type="checkbox" id="check-7">
                                <span></span>
                                <p>把冰箱發霉的檸檬拿去丟掉</p>
                            </div>
                            <div class="list-btn">
                                <button type="button" class="btn-edit" title="編輯"></button>
                                <button type="button" class="btn-close" title="刪除"></button>
                            </div>
                        </label>
                    </li>
                    <li><br><br><br><br><br><br></li>
                </ul>
            </div>
            <div class="card-footer d-flex justify-content-between align-content-center px-6 pb-8 pt-4">
                <p>5個待辦完成項目</p>
                <a href="#" class="accLink" title="清除已完成項目">清除已完成項目</a>
            </div>
        </div>
    </div>
</div>
<img class="d-none" src="../img/empty.png" alt="empty_pic">