<div class="container px-8 mt-6">
  <div class="row justify-content-center">
    <div class="card px-1 col-lg-7">
      <div class="d-flex align-items-center justify-content-between">
        <input
          type="text"
          class="add-todo form-control w-100"
          maxlength="64"
          placeholder="新增待辦事項"
          aria-describedby="plus_button"
        />
        <div
          class="plus-button btn btn-primary d-flex align-items-center justify-content-center"
          title="新增按鈕"
        >
          +
        </div>
      </div>
    </div>
  </div>
</div>
<div class="allCard container px-8">
  <div class="row justify-content-center">
    <div class="card mt-4 col-lg-7 p-0">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs text-center">
          <li class="nav-item">
            <a class="nav-link active" href="#" title="全部">
              <h6>全部</h6>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="待完成">
              <h6>待完成</h6>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="已完成">
              <h6>已完成</h6>
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body overflow-auto my-2">
        <ul class="list list-group">
          <!-- list -->
        </ul>
      </div>
      <div
        class="card-footer d-flex justify-content-between align-content-center px-6 pb-8 pt-4"
      >
        <p class="count"><!-- count --></p>
        <a href="#" class="clearDone" title="清除已完成項目">清除已完成項目</a>
      </div>
    </div>
  </div>
</div>
<img class="empty d-none mt-10" src="../img/empty.png" alt="empty_pic" />
<!-- <p class="fixed-bottom pb-2">版權所有</p>-->
